@charset "UTF-8";

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-size: 20px;
    font-style: normal;
}

div.video {
    position: relative;
}


nav > a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}
nav > a:hover {
    color: rgb(255, 0, 0);
    font-style: italic;
}